* {

}
body {
  background-color: SkyBlue;
}

button {
  background-color: blue;
  border: none;
  color:white;
  font-family: 'Open Sans''arial', sans-serif;
  padding: 1em 2em 1em 2em;
}

h1
{
  font-family: sans-serif;

}


.padding-hover:hover
{
  background-color: green;
  color: white;
  text-decoration:underline;
}

.container
{
  background-image: url(https://github.com/Jwdavi15/gra-321/blob/master/code-exercises/img/kiwi-fruit.jpg);
  background-size: cover;
  hight:700px;
  margin:0 auto;
  width: 50%;
}

/*---Media Queries---*/
@media screen and (max-width: 1000px) {
  body {
    background-color: LightSalmon;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: MediumSeaGreen;
}
}
