* {

}

h1 {

}

button {
  background-color: blue;
  border: none;
  color:white;
  font-family: 'Open Sans''arial', sans-serif;
  padding: 1em 2em 1em 2em;
}

.padding-hover:hover {
  background-color: green;
  color: white;
  text-decoration:underline;
}

.container {
  background-image: gra-321\code-exercises\img\kiwi-fruit;
  background-size: cover;
  hight:700px;
  margin:0 auto;
  width: 50%;
}
