* {

}

h1 {

}

button {
  background-color: blue;
  border: none;
  color:white;
  font-family: 'Open Sans''arial', sans-serif;
  padding: 1em 2em 1em 2em;
}

.padding-hover:hover {
  background-color: green;
  color: white;
  text-decoration:underline;
}
