
body {
  background-color: Blue;
}


h1
{
  font-family: sans-serif;
  color: MediumSeaGreen;
  font-size:52px;
  position:relative;
  text-align:center;
}


.container
{
  background-image: url(https://github.com/Jwdavi15/gra-321/blob/master/code-exercises/img/kiwi-fruit.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  margin:0 auto;
  width:50%;
}
