

h1 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: semi-bold

}

h2 {
  font-family: sans-serif;
  font-size: 5px;
  font-weight: bold;
  line-height: 22px;
}


.container
{
  background-image: url(https://github.com/Jwdavi15/gra-321/blob/master/responsive-design/img/nordwood-themes-Ex5TQsRANZk-unsplash.jpg?raw=true);
  background-repeat: no-repeat;
  width:100%;
  object-fit:scale-down;
}

.body-container1
{
  margin-left: 5%;
  margin-bottom: 10%;
  margin-left: 10%;
  display:inline-block;
  margin-right: 5%;


}

.small-container{
  display:inline-block;
  margin-left: 10%;
}

.small-container2{
  display:inline-block;
  margin-left: 13.5%;
}

.ML-container{
  display:inline-block;
  margin-left: 5%;
}

p1 {
  font-size: 15px;
  line-height: 22px;
}

p2{
  font-size: 13px;
  line-height: 22px;
}

header {
background-color: white;
width: 100%;
margin-left: 5%;
}

.header-nav {
  background-color: white;
  width:100%;
}

.nav-bar {
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

#logo {
height:100px;
}

#toggle {
display:none;
}

label {
font-size: 40px;
line-height:100px;
 cursor: pointer;
 margin-left: 2.5%;
}

ul.menu-items {
list-style-type: none;
text-align: left;

}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: black;
  display:block;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}

/*Desktop Styles*/
@media only screen and (min-width: 600px) {
  .header-nav {
  background-color: white;
  width:100%;
  margin: 0 auto;
    display:flex;
    align-items: left;
    justify-content: space-between;}

    header {
    background-color: white;
    width: 100%;
    margin-left: 5%px;
    }


.nav-bar {
  position: relative;

  width:100%;
}

#logo {
height:100px;
}

#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display:block;
margin: 0;
list-style-type: none;
text-align: right;
border-top:none;
  width: 100%;
  justify-content: space-between;
}
}
